.pageName {
    color: #171515;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.usersMap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px;
}

.user {
    border: 1px solid #C5C5C5;
    width: 200px;
    height: 260px;
    border-radius: 16px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.userPhoto {
    width: 110px;
    height: 110px;
    border-radius: 4px;
    object-fit: cover;
}

.unfollow {
    background: #D9D9D9;
    border: none;
}

.name {
    color: #171515;
    font-size: 16px;
    font-weight: 500;
}

.status {
    color: #828282;
    font-size: 10px;
    font-weight: 400;
}

.location {
    color: #171515;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.paginationWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 15px;
}

.goToBtn {
    width: 80px;
    height: 30px;
}

.paginationBtn {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #171515;
}

.paginationBtn:hover {
    background-color: #368AC1;
    color: #FFF;
}

.selectedPage {
    width: 35px;
    height: 35px;
    font-weight: bold;
    border-radius: 50%;
}
