.postsBlock {
    padding: 10px;
    word-break: break-all;
}

.postsBlock h3 {
    margin-left: 50px;
}

.field {
    resize: none;
    width: 810px;
    height: 60px;
    padding: 10px;
    margin-left: 50px;
    border-radius: 10px;
    background: #FFF;
    border: 1px solid #C5C5C5;
}

.buttonPost button {
    margin: 20px 0 0 50px;
}
