.postsBlock {
    padding: 10px;
}

textarea {
    resize: none;
    width: 690px;
    height: 60px;
    border-radius: 10px;
    background: #FFF;
}

button {
    border-radius: 5px;
    border: 1px solid #368AC1;
    background: #368AC1;
    width: 110px;
    height: 30px;
    color: #FFF;
}