.edit {
    display: flex;
    justify-content: flex-end;
}

.edit button {
    height: 40px;
    width: 40px;
    background-color: #d9d9d9;
    color: #368AC1;
    border: 1px solid #C5C5C5;
}

h3 {
    color: #368AC1;
}

.profileData {
    width: 500px;
}