.header {
    grid-area: h;
    height: 85px;
    border-radius: 33px 33px 0px 0px;
    background: #7FBDE7;
    box-shadow: 0px 3px 11px 0px rgba(173, 166, 166, 0.25);
}

.header svg {
    margin: 20px 65px;
}

.login {
    float: right;
}