.item {
    margin: 50px 50px 5px 50px;
    padding: 20px;
    border-radius: 9px;
    border: 1px solid #C5C5C5;
    background: #FFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item textarea {
    width: 900px;
    color: #171515;
    font-size: 18px;
    font-weight: 400;
}

.item img {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    margin-right: 10px;
}

.item button {
    background: #368AC1;
    border: 1px solid #368AC1;
    width: 60px;
    height: 30px;
    color: #FFF;
}

.optionsBtn {
    position: absolute;
    right: 230px;
}

.optionsBtn button {
    color: #368AC1;
    background-color: transparent;
    border: none;
}

.postText {
    margin-left: 60px;
}