.item {
    color: #515ff1;
    margin-top: 50px;
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.item button {
    background: #368AC1;
    border: 1px solid #368AC1;
    width: 60px;
    height: 30px;
    color: #FFF;
}