.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;

    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    margin-top: 35px;
    margin-left: 20px;

    width: 954px;
    border-radius: 9px;
    border: 1px solid #C5C5C5;
    background: rgba(244, 246, 248, 0.60);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

}