.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    margin-top: 35px;
    margin-left: 20px;
    width: 954px;
    border-radius: 0 0 9px 9px;
    border: 1px solid #C5C5C5;
    background: rgba(244, 246, 248, 0.60);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

button {
    border-radius: 5px;
    border: 1px solid #368AC1;
    background: #368AC1;
    width: 140px;
    height: 30px;
    color: #FFF;
    cursor: pointer;
}

button:disabled {
    background: #89bedc;
}

.globalError {
    position: absolute;
    height: 25px;
    color: black;
    background-color: red;
    left: 300px;
    top: 20px;
}

.globalError button {
    width: 30px;
    height: 25px;
    background-color: #faa1a1;
}